<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" value="tasktodo" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="tasktodo">
        <ion-icon name="list-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="taskinprogress">
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="taskcompleted">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <router-outlet></router-outlet>
    <app-suggestion [suggestion]="currentSuggestion"></app-suggestion>
</ion-content>
